button {
    margin-top: 20px;
    padding: 12px 30px;
    font-size: 18px;
    background: linear-gradient(to right, cyan, gray);
    border: none;
    cursor: pointer;
    color: white;
    border-radius: 5px;
}
.glow:hover {
  box-shadow: 0 0 15px rgba(103, 232, 249, 0.6);
  color: #67e8f9;
  transform: scale(1.05);
}
.press {
  box-shadow: 0 6px 0 rgba(0, 0, 0, 0.6);
}

.press:active {
  transform: translateY(4px);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.6);
}