body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
    background-image: url('person.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}
.container {
    min-height: calc(100vh - 120px);
    width: 60%;
    margin: auto;
    background: rgba(20, 20, 20, 0.85);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.6);
    margin-top: 5%;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffffff;
    transform: translateX(-100px);
    opacity: 0;
    transition: all 0.8s ease;
}
.container h2 {
    color: #00e5ff;
}
.container.show{
    transform: translateX(0);
    opacity: 1;
}
.button {
    width: 90%;
    height: 50px;
    margin: 20px;
}