body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
    background-image: url('person.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}
.button {
    width: 150px;
    height: 50px;
    margin: 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    background: linear-gradient(to right, cyan, gray);
    color: white;
    transition: 0.3s;
}
.button:hover {
    background: linear-gradient(to right, gray, cyan);
}